<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- font awesome -->
  <link rel="stylesheet" href="fontawesome/css/all.css">
  <script src="fontawesome/js/all.js"></script>
  <script src="fontawesome/metadata/icons.json"></script>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="css/materialize.css">
  <title>Caramel Desserts</title>
  <style>
     .se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(img/Preloader_8.gif) center no-repeat #fff;
}
    header{
      background: url(img/CEO.jpg);
      background-size: cover;
      background-position:center;
      max-width: 100%;
      height: auto;
      min-height: 700px;
      z-index:  100;
    }
    .tabs .indicator{
      background: #1a237e;
    }
    
    @media screen and (max-width: 670px) {
      header{
        min-height: 600px;
      }
      .txt{
        position: relative;
         top:350;
      }
    }
    @media screen and (min-width: 1344px) {
      header{
        height: 200vh;
      }
    }
    .hide-on-med-and-up{
      font-size: 20px !important;
    }
    .hide-on-large-only{
      height: 350px;
    }
    .responsive-img{
      max-width: 100% !important;
      height: auto !important;
    }
    .sidenav-trigger{
      position: fixed !important;
    }
    h1 .white-text{
      color: black !important;
    }
    .resp-img{
      height: 400;
    }
    div.carousel.center{
      margin-top: -8vh;
    }
    .bttn-snack,.bttn-cake,.bttn-cupcake,.bttn-dessert{
      margin-top: 320px;
      border-radius: 25px !important;
      z-index: 100 !important;
    }
    ul#dropdown1.dropdown-content.white{
      width: 120px !important;
    }
  </style>
</head>
<body>
  
  <!-- preloader -->
  <div class="se-pre-con"></div>
  <!-- navbar -->
      <header>
        <nav class="nav-wrapper transparent">
          <div class="container">
            <a href="" class="brand-logo hide-on-small-only">Caramel Desserts</a>
            <a href="" class="brand-logo hide-on-med-and-up">Caramel Desserts</a>

            <a href="#" data-target="mobile-links" class="sidenav-trigger">
              <i class="material-icons">menu</i>
           </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#photos">Photos</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#about">About Me</a></li>
              <li><a  class="dropdown-trigger" data-target="dropdown2" href="#">Order<i class="large material-icons white-text right" style="margin-top: 6px;">shopping_cart</i></a></li>
              <li><a  class="dropdown-trigger tooltipped" data-target="dropdown3" data-tooltip="Socials" href="#about">Socials<i class="large material-icons white-text right" style="margin-top: 6px;">arrow_drop_down</i></a></li>
             <ul class="dropdown-content white lighten-2" id="dropdown3">
              <li><a href="https://Instagram.com/caramel_desserts" target="_blank" class=" black-text" data-tooltip="Instagram"><i style="display: inline; color:black;" class="fab fa-instagram"></i> <span style="font-size: 14px;">Instagram</span></a></li>
              <li><a href="https://twitter.com/_carameldessert" target="_blank" class=" black-text" data-tooltip="Twitter"><i style="display: inline; color: lightblue;" class="fab fa-twitter"></i>&nbspTwitter</a></li>
              <li><a href="https://facebook.com/shehusuaida.dalhatu" target="_blank" class=" black-text" data-tooltip="Facebook"><i style="display: inline; color: blue;" class="fab fa-facebook"></i> <span style="font-size: 14px;">Facebook</span></a></li>
              <li><a href="https://wa.me/2347038236001" target="_blank" class=" black-text" data-tooltip="Whatsapp Me"><i style="display: inline; color: green;" class="fab fa-whatsapp"></i> <span style="font-size: 14px;">Whatsapp</span></a></li>
              <li><a href="tel:+2347038236001" target="_blank" class=" black-text" data-tooltip="Call me"><i style=" display: inline; color: darkgreen;" class="fa fa-phone"></i>&nbspPhone</a></li>
             </ul>
              
              <ul class="dropdown-content white" id="dropdown1">
                
              </ul>
              <ul class="dropdown-content white" id="dropdown2">
                <li ><a class="black-text" href="https://paystack.com/buy/snacks-slkzah">Snacks</a></li>
                <li ><a class="black-text" href="https://paystack.com/buy/cake-rkexaw">Cakes</a></li>
                <li ><a class="black-text" href="https://paystack.com/buy/desserts-dvdcso">Desserts</a></li>
                <li ><a class="black-text" href="https://paystack.com/buy/cupcakes-qypitq">Cupcakes</a></li>
              </ul>
            </ul>
            <ul class="sidenav grey lighten-2" id="mobile-links">
              <button class="btn-floating btn-small sidenav-close grey z-depth-1 lighten-2 black-text right" style="margin-right: 5px; margin-top: 5px;">x</button>
              <li><img src="img/CEO.jpg" style="width:100px; height:100px; margin:10px 0px 0px 100px" class="circle center" alt=""><br>
                <p class="black-text center bold" style="line-height: 20px;">C.E.O <br> <Span style="font-size: 20px; font-weight: bold;">Suaida Shehu Dalhatu</Span> <br>Caramel desserts</p>
                <div style="text-align: center; margin-top: -25px;">
                <a href="https://Instagram.com/caramel_desserts" target="_blank" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped"  style="margin: 10px 5px; padding:0px 5px; display: inline;"  data-tooltip="Instagram"><i  class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/_carameldessert" target="_blank" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" style="margin: 10px 5px; padding:0px 5px; display: inline;" data-tooltip="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://facebook.com/shehusuaida.dalhatu" target="_blank" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" style="margin: 10px 5px; padding:0px 5px; display: inline;" style="margin: 10px 5px; padding:0px 5px; display: inline;" data-tooltip="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://wa.me/2347038236001" target="_blank" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" style="margin: 10px 5px; padding:0px 5px; display: inline;" style="margin: 10px 5px; padding:0px 5px; display: inline;" data-tooltip="Whatsapp me"><i class="fab fa-whatsapp"></i></a>
                <a href="tel:+2347038236001" target="_blank" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" style="margin: 10px 5px; padding:0px 5px; display: inline;" style="margin: 10px 5px; padding:0px 5px; display: inline;" data-tooltip="Call me"><i class="fa fa-phone"></i></a>
                <a href="mailto:Ssdtu47@gmail.com" target="_blank" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" style="margin: 10px 5px; padding:0px 5px; display: inline;" style="margin: 10px 5px; padding:0px 5px; display: inline;" data-tooltip="Mail me"><i class="fa fa-envelope"></i></a>
              </div>
              </li>
              <hr>
              
              <li><a href="#photos" class="sidenav-close">Photos</a></li>
              <li><a href="#services" class="sidenav-close">Services</a></li>
              <li>
              <ul class="collapsible collapsible-accordion">
                <li> 
                  <a style="padding:0 32px;" class="collapsible-header">Order <i style="margin-right: 167px; font-size: 17px;" class="right material-icons black-text">shopping_cart</i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a class="" href="https://paystack.com/buy/cake-rkexaw">Cakes</a></li>
                      <li><a class="" href="https://paystack.com/buy/desserts-dvdcso">Desserts</a></li>
                      <li><a class="" href="https://paystack.com/buy/snacks-slkzah">Snacks</a></li>
                      <li><a class="" href="https://paystack.com/buy/cupcakes-qypitq">Cupcakes</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
              <li><a href="#contact" class="sidenav-close">Contact Me</a></li>
              <li><a href="#about"  class="sidenav-close">About Me</a></li>
              <!--<div style="display: flex; flex-wrap: wrap;">
              <li><a href="https://Instagram.com/caramel_desserts" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" data-tooltip="Instagram"><i  class="fab fa-instagram"></i></a></li>
              <li><a href="https://twitter.com/_carameldessert" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" data-tooltip="Twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://facebook.com/shehusuaida.dalhatu" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" data-tooltip="Facebook"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://wa.me/2347038236001" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" data-tooltip="Whatsapp me"><i class="fab fa-whatsapp"></i></a></li>
              <li><a href="tel:+2347038236001" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" data-tooltip="Call me"><i class="fa fa-phone"></i></a></li>
              <li><a href="mailto:Ssdtu47@gmail.com" class="btn-floating btn-small grey lighten-2 z-depth-0 black-text tooltipped" data-tooltip="Mail me"><i class="fa fa-envelope"></i></a></li>
            </div>-->
            </ul>
          </div>
          <div class="fixed-action-btn">
            <a class="btn-floating btn waves-effect pulse indigo darken-4 z-depth-4">
              <i class="fa fa-link" style="margin-top:12px; margin-left: px;"></i>
           </a>
           <ul>
            <li><a href="https://Instagram.com/caramel_desserts" target="_blank" class="btn-floating btn-small indigo darken-4 tooltipped" data-tooltip="Instagram"><i style="margin-top:10px;" class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/_carameldessert" target="_blank" class="btn-floating btn-small indigo darken-4 tooltipped" data-tooltip="Twitter"><i style="margin-top:10px;" class="fab fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/shehusuaida.dalhatu" target="_blank" class="btn-floating btn-small indigo darken-4 tooltipped" data-tooltip="Facebook"><i style="margin-top:10px;" class="fab fa-facebook"></i></a></li>
            <li><a href="https://wa.me/2347038236001" target="_blank" class="btn-floating btn-small indigo darken-4 tooltipped" data-tooltip="Whatsapp Me"><i style="margin-top:10px;" class="fab fa-whatsapp"></i></a></li>
            <li><a href="tel:+2347038236001" target="_blank" class="btn-floating btn-small indigo darken-4 tooltipped" data-tooltip="Call me"><i style="margin-top:10px;" class="fa fa-phone"></i></a></li>
           </ul>
          </div>
          
        </nav>
        
          

  <!-- Tap Target Structure -->
      </header>
  <!-- photo / grid -->
          <section class="container section scrollspy" id="photos">
              <div class="row">
                <div class="col s12 l6">
                  <div class="carousel center">
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/41.jpg"></a>
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/21.jpg"></a>
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/1.jpg"></a>
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/2.jpg"></a>
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/150.jpg"></a>
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/155.jpg"></a>
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/154.jpg"></a>
                    <div class="carousel-fixed-item center">
                     <a class="btn waves-effect indigo darken-4 white-text text-darken-4 bttn-cake"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                  
                  </div>
                </div>
                <div class="col 12 l5 offset-l1 ">
                  <h2 class="indigo-text push-s2 text-darken-4">Cakes</h2>
                    <p> Caramel desserts is here to serve you with the best birthday/wedding cakes because a party without cake is just a meeting. Birthdays/weddings are nature's way of telling us to eat more cake. Life is short, eat cake. Birthday/wedding cake calories don't count.</p>
                </div>
              </div>
              <div class="row">
                <div class="col s12 l6">
                  <div class="carousel center">
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/200.jpg"></a>
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/201.jpg"></a>
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/202.jpg"></a>
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/203.jpg"></a>
                    <a class="carousel-item"><img class="resp-img" height="400" src="img/204.jpg"></a>
                    <div class="carousel-fixed-item center">
                     <a class="btn waves-effect indigo darken-4 white-text text-darken-4 bttn-dessert"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                  
                  </div>
                </div>
                <div class="col 12 l5 offset-l1  right-align ">
                  <h2 class="indigo-text push-s2 text-darken-4">Desserts</h2>                    
                    <p>Desserts are not desserts if they are not from Caramel Desserts. Caramel Desserts are the best dessert plug you can find there. The best of Pannacotta, Cheesecakes, Waffles, Tart, Macaroons, Brownies, Mousse cake and the list goes on.</p>
                </div>
              </div>
              <div class="row">
                <div class="col s12 l4 push-l7 offset-l1 ">
                  <div class="carousel center">
                    <a class="carousel-item" href="#"><img class="" height="400" src="img/161.jpg"></a>
                    <a class="carousel-item" href="#"><img class="" height="400" src="img/116.jpg"></a>
                    <a class="carousel-item" href="#"><img class="" height="400" src="img/160.jpg"></a>
                    <a class="carousel-item" href="#"><img class="" height="400" src="img/162.jpg"></a>
                    <a class="carousel-item" href="#"><img class="" height="400" src="img/14.jpg"></a>
                    <a class="carousel-item" href="#"><img class="" height="400" src="img/13.jpg"></a>
                    <div class="carousel-fixed-item center">
                      <a class="btn waves-effect indigo darken-4 white-text text-darken-4 bttn-snack"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    
                  </div>
                </div>
                <div class="col 12 l6 pull-l5 left-align offset-l1">
                  <h2 class="indigo-text text-darken-4">Snacks</h2>
                  <p>
                    Keep your friends close and keep your snacks closer. Caramel Desserts makes the best snacks out there are out there and no doubt you will come for more after your order. Work hard, snack often.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col s12 l4">
                  <div class="carousel center">
                    <a class="carousel-item" href="#"><img height="400" src="img/53.jpg"></a> 
                    <a class="carousel-item" href="#"><img height="400" src="img/54.jpg"></a> 
                    <a class="carousel-item" href="#"><img height="400" src="img/55.jpg"></a>
                    <a class="carousel-item" href="#"><img height="400" src="img/51.jpg"></a>
                    <a class="carousel-item" href="#"><img height="400" src="img/54.jpg"></a>
                    <a class="carousel-item" href="#"><img height="400" src="img/55.jpg"></a>
                    <div class="center">
                      <a class="btn waves-effect indigo darken-4 white-text text-darken-4 bttn-cupcake"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                  </div>
                </div>
                <div class="col 12 l6 offset-l1 right-align">
                  <h2 class="indigo-text text-darken-4">Cupcakes</h2>                  
                  <p>There is absolutely no wrong the right cupcake can't fix. With Caramel Desserts, incredibly delicate cupcakes are just an order away. Make your choice, choose the best, Caramel Desserts are here to serve you better.</p>                 
                </div>
              </div>
            </section>
  <!-- parallax -->
  <div class="hide-on-med-and-down parallax-container">
    <div class="parallax">
      <img src="img/42.jpg" alt="" class="responsive-img">
    </div>
  </div>
  <div class="hide-on-large-only parallax-container">
    <div class="parallax">
      <img src="img/42.jpg" alt="" class="responsive-img">
    </div>
  </div>
  <!-- services / tabs -->
  <section class="container section scrollspy" id="services">
    <div class="row">
      <div class="col s12 l4">
        <h2 class="indigo-text text-darken-4">What I do...</h2>
        <p>I'm a professional pastry chef with more than 5 years of delicate baking experience. I make delicate and mind blowing pastries ranging from cakes, snacks to desserts. The pictures of my work will testify for themselves for they even taste better than they look. Caramel Desserts have a wide variety of cake/dessert menus which some are listed below with their prices.</p>
      </div>
      <div class="col s12 l6 offset-l2" style="overflow:scroll; height: 350px;">
          <ul class="tabs" style="position: sticky; top: 0;">
            <li class="tab col s6"><a href="#Cakes" class="btn transparent z-depth-0 indigo-text text-darken-4">Cakes</a></li>
            <li class="tab col s6"><a href="#Desserts" class="btn transparent z-depth-0 indigo-text text-darken-4">Desserts</a></li>
          </ul>
          <div class="col s12" id="Cakes">
            <table class=" highlight">
              <thead>
                <tr>
                    <th>Size</th>
                    <th>Price</th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                  <td>Single layer</td>
                  <td>N7,000</td>
                </tr>
                <tr>
                  <td>Double layer</td>
                  <td>N10,000</td>
                </tr>
                <tr>
                  <td>8 inch</td>
                  <td>N12,000</td>
                </tr>
                <tr>
                  <td>9 inch</td>
                  <td>N13,000</td>
                </tr>
                <tr>
                  <td>10 inch</td>
                  <td>N14,000</td>
                </tr>
                <tr>
                  <td>12 inch</td>
                  <td>N20,000</td>
                </tr>
                <tr>
                  <td>14 inch</td>
                  <td>N28,000</td>
                </tr>
              </tbody>
            </table>
            <p class="indigo-text text-darken-4">CUPCAKES</p>
            <table class=" highlight">
              <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>BOX OF 6</td>
                  <td>N3,000</td>
                </tr>
                <tr>
                  <td>BOX OF 12</td>
                  <td>N6,000</td>
                </tr>
                <tr>
                  <td>BOX OF 24</td>
                  <td>N12,000</td>
                </tr>
              </tbody>
            </table>
            <p class="indigo-text text-darken-4">MUFFINS</p>
            <table class=" highlight">
              <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>BOX OF 6</td>
                  <td>N4,000</td>
                </tr>
                <tr>
                  <td>BOX OF 12</td>
                  <td>N8,000</td>
                </tr>
                <tr>
                  <td>BOX OF 24</td>
                  <td>N15,000</td>
                </tr>
              </tbody>
            </table>
            <p class="indigo-text text-darken-4">FOUNDANT</p>
            <table class=" highlight">
              <thead>
                <tr>
                    <th>Size</th>
                    <th>Price</th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                  <td>8" inch</td>
                  <td>N12,500</td>
                </tr>
                <tr>
                  <td>10" inch</td>
                  <td>N14,500</td>
                </tr>
                <tr>
                  <td>12" inch</td>
                  <td>N20,000</td>
                </tr>
                <tr>
                  <td>14" inch</td>
                  <td>N30,000</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col s12" id="Desserts">            
            <table class=" highlight">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                  <td>Cake Jar</td>
                  <td>1</td>
                  <td >N1,500</td>
                </tr>
                <tr>
                  <td>Cake slice</td>
                  <td>1</td>
                  <td >N1,000</td>
                </tr>
                <tr>
                  <td>Cookies</td>
                  <td>20</td>
                  <td >N1,000</td>
                </tr>
                <tr>
                  <td>Doughnuts</td>
                  <td>5</td>
                  <td >N1,000</td>
                </tr>
                <tr>
                  <td>Filled Doughnuts</td>
                  <td>5</td>
                  <td >N2,000</td>
                </tr>
                <tr>
                  <td>Meat pie</td>
                  <td>5</td>
                  <td>N2,000</td>
                </tr>
              </tbody>
            </table>
            
                                          
          </div>
          
          
      </div>
    </div>
  </section>
  <!-- parallax -->
  <div class="hide-on-med-and-down parallax-container">
    <div class="parallax">
      <img src="img/1.jpg" alt="" class="responsive-img">
    </div>
  </div>
  <div class="hide-on-large-only parallax-container">
    <div class="parallax">
      <img src="img/1.jpg" alt="" class="responsive-img">
    </div>
  </div>
  <!-- contact form -->
  <section class="container section scrollspy" id="contact">
    <div class="row">
      <div class="col s12 l5">
        <h2 class="indigo-text text-darken-4">Get In Touch</h2>
        <p>Caramel desserts are her to serve you all the delicate desserts and cakes you can afford. Our support team are at your disposal 24/7. We are just a message away. Fill up the form to enquire or tell us what you want or issues you come across in our business. Thank you!</p>
      </div>
      <div class="col s12 l5 offset-l2">
        <form action="/" method="POST">
          <div class="input-field">
            <i class="material-icons prefix">person</i>
            <input type="text" id="name"  name="name" required>
            <label for="name">Name<span class="red-text">*</span></label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">call</i>
            <input type="number" name="phone" id="phone">
            <label for="phone">Phone No.<span class="red-text">*</span></label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input type="email" name="email" id="email">
            <label for="email">E-mail (optional) </label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">message</i>
            <textarea name="message" id="message" class="materialize-textarea" required></textarea>
            <label for="message">Message<span class="red-text">*</span></label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">date_range</i>
            <input type="text" id="date" name="datee" class="datepicker">
            <label for="date">Choose a date you need me for... (optional)</label>
          </div>
          <div class="input-field">
            <p>Services required... (optional)</p>
            <p>
              <label>
              <input type="checkbox" name="cake">
              <span>Cakes</span>
              </label>
            </p>
            <p>
              <label>
              <input type="checkbox" name="desserts">
              <span>Desserts</span>
              </label>
            </p>
          </div>
          <div class="input-field center">
            <button class="btn waves-effect waves-light">Submit</button>
          </div>
        </form>
      </div>
    </div>
  
  </section>
  <!-- footer -->
  <section class="scrollspy" id="about">
      <footer class="page-footer grey darken-3" >
        <div class="container">
          <div class="row">
            <div class="col s12 l6">
              <h5>About Me</h5>               
          <p>My name is Suaida Shehu Dalhat, Founder/Chief Executive Officer (C.E.O) of Caramel Desserts. I got into pastry as a hobby and I later did the world the favour of letting it have a taste of my beauties. I'm fond of baking, and I'm very timely and deligent when it comes to my work.</p>
            </div>
            <div class="col s12 l4 offset-l2">
              <h5>Connect</h5>
              <ul>
                <li><a href="https://facebook.com/shehusuaida.dalhatu" target="_blank" class="grey-text text-lighten-3"><i class="fab fa-facebook"></i>&nbsp Facebook</a></li>
                <li><a href="https://twitter.com/_carameldessert" target="_blank" class="grey-text text-lighten-3"><i class="fab fa-twitter"></i>&nbsp Twitter</a></li>
                <li><a href="https://Instagram.com/caramel_desserts" target="_blank" class="grey-text text-lighten-3"><i class="fab fa-instagram"></i>&nbsp Instagram</a></li>
                <li><a href="https://wa.me/2347038236001" target="_blank" class="grey-text text-lighten-3"><i class="fab fa-whatsapp"></i>&nbsp Whatsapp</a></li>
                <li><a href="tel:+2347038236001" target="_blank" class="grey-text text-lighten-3"><i class="fas fa-phone"></i>&nbsp Phone</a></li>
                <li><a href="mailto:Ssdtu47@gmail.com" target="_blank" class="grey-text text-lighten-3"><i class="fas fa-envelope"></i>&nbsp Email</a></li>
              </ul>
            </div>
            </div>
      </div>
      <footer class="footer-copyright grey darken-4">
        <div class="container center-align">
          &copy; 2021 Powered by Jamsanz dot com
        </div>
      </footer>
      </footer>
    </section>
  <!-- Compiled and minified JavaScript -->
  <script src="js/jquery.js"></script>
    <script src="js/materialize.js"></script>
    
  <script>
      $(".se-pre-con").delay(1500).fadeOut("slow");
    $(document).ready(function(){
        $('#select').on('click',(e)=>{
          e.preventDefault();
        })
        $('select').formSelect();
        $('.collapsible').collapsible();
        $('.sidenav').sidenav();
        $('.materialboxed').materialbox();
        $('.parallax').parallax();
        $('.tabs').tabs();
        $('.datepicker').datepicker({
          disableWeekends:true
        });
        $('.dropdown-trigger').dropdown();
        $('.tooltipped').tooltip();
        $('.scrollspy').scrollSpy();
        $('.carousel').carousel({
    indicators: true,
  });
  $('.fixed-action-btn').floatingActionButton({
      hoverEnabled:false,  
    });
    $(".bttn-cake").click(function() {
      window.location="https://paystack.com/buy/cake-rkexaw";
          });
    $(".bttn-snack").click(function() {
      window.location="https://paystack.com/buy/snacks-slkzah";
          });
    $(".bttn-dessert").click(function() {
      window.location="https://paystack.com/buy/desserts-dvdcso";
          });
    $(".bttn-cupcake").click(function() {
      window.location="https://paystack.com/buy/cupcakes-qypitq";
          });
    });
    
  </script>
</body>
</html>

